<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>

    <body>
        <header>
            {% include navigation.html %}
        </header>

        <section class="cover bg-city">
            <div class="cover-body">
                <div class = "cover-container">
                    <h1> Hello! I'm Alex Wang. </h1>  
                    <p>I'm currently a student at Yale University. <br/>
                    I want to fix education, stop climate change, and do whatever 
                    else I can to make the world a better place. <br/>
                    This website is a place for me to share what I'm 
                    <a href="/learning/" class="white">learning</a>, 
                    <a href="/projects/" class="white">working on</a>, 
                    and <a href="/thoughts/" class="white">thinking about</a>.
                    </p>
                </div>
            </div>
        </section>
        
    </body>

</html>